﻿@{
    ViewBag.Title = "Save";
}

<style>
    label.error {
        color: red;
        font-weight: bold;
    }
</style>
<br/>
<br/>
<div class="wrapper" style="background-color: white;width: 500px;border: 2px solid;margin-left: 200px">
    <form id="departMentSaveForm" method="POST">
        <p style="color: black; font-size: 25px; font-family: undeline; background-color: slateblue; text-align: center">Save Departments</p>

         <br/>
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">Code</label>
                <div class="col-md-9">
                    <input id="Code" type="text" name="Code" class="form-control">
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">Name</label>
                <div class="col-md-9">
                    <input id="Name" type="text" name="Name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button id="saveButton" name="saveButton" type="submit" value="Save" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
            <div class="show_msg"><label style="color: green" >@ViewBag.Message</label></div>
   
    </form>
</div>



@section scripts
 {
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#departMentSaveForm").validate({
                rules: {
                    Code: {
                        required: true,
                        minlength: 2,
                        maxlength: 7
                    },
                    Name: "required"
                },
                messages: {
                    Code: {
                        required: "Please enter a code",
                        minlength: "Your code must consist of at least 2 characters",
                        maxlength: "Your code must less than 8 characters"
                    },
                    Name: {
                        required: "Please add your department name"
                    },
                }
            });

            $("#Code").bind('keyup input', function () {
                if (this.value.match(/[^a-zA-Z áéíóúÁÉÍÓÚüÜ]/g)) {
                    this.value = this.value.replace(/[^a-zA-Z áéíóúÁÉÍÓÚüÜ]/g, '');
                }
            });
            $("#Name").bind('keyup input', function () {
                if (this.value.match(/[^a-zA-Z áéíóúÁÉÍÓÚüÜ]/g)) {
                    this.value = this.value.replace(/[^a-zA-Z áéíóúÁÉÍÓÚüÜ]/g, '');
                }
            });

        });
    </script>
}
