﻿@model IEnumerable<UniversityManagementApp.Models.DepartmentModels>
@{
    ViewBag.Title = "ViewDepartment";
    int i=1;
}

<style>
    
    th {

        background-color: slateblue;
        color: white;
    }


</style>


<div class="wrapper">
    <br/>
    <form id="departMentSaveForm" method="POST">
        <fieldset class="main_form">
            <p style="color:white;background-color:slateblue ;font-size:25px;font-family: undeline">View All Departments</p>
            
            <table class="table table-striped table-bordered "style="color:  black;background-color: white">
                <thead>
                    <tr>
                        
                        <th>Code</th>
                        <th class="td-actions">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aDepartment in @ViewBag.DepartmentList)
                    {
                        
                        <tr>
                            
                            <td>@aDepartment.Code</td>
                            <td>@aDepartment.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
            

        </fieldset>
    </form>
</div>




