﻿
@{
    ViewBag.Title = "Save";
}

<style>
    label.error {
        color: red;
        font-weight: bold;
    }
</style>
<br/>
<div class="wrapper" style="background-color: white;width: 700px;border: 2px solid;margin-left: 200px">
    <form id="CourseSaveForm" method="POST">
        <fieldset class="main_form">
            <legend style="text-align: center; background-color: slateblue">Save Teacher</legend>
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input id="Name" type="text" name="Name" class="form-control">
                </div>
            </div>
            <br/>
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Address</label>
                <div class="col-md-9">
                    <textarea class="form-control" id="Address" rows="5" cols="20" name="Address"></textarea>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    <input id="Email" type="email" name="Email" class="form-control">
                </div>
            </div>
            <br />
            <br/>
            <div class="form-group">
                <label class="col-md-3 control-label">Contact No</label>
                <div class="col-md-9">
                    <input id="ContactNo" type="text" name="ContactNo" class="form-control" maxlength="14">
                </div>
                
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Designation</label>
                <div class="col-md-9">
                    <select class="form-control" id="designationId" name="designationId">
                        @{
                            <option value=""> Select Designation….</option>
                            foreach (var aDesignation in @ViewBag.DesignationList)
                            {
                                <option value=@aDesignation.Id> @aDesignation.Name</option>
                            }
                        }
                    </select>
                </div>
                <br />
                <br />
                <br />
              
              
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Department</label>
                <div class="col-md-9">
                    <select class="form-control" id="departmentCode" name="departmentCode">
                        @{
                            <option value=""> Select Department....</option>
                            foreach (var aDepartment in @ViewBag.DepartmentList)
                            {
                                <option value=@aDepartment.Code> @aDepartment.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <br />
            <br />
            <br />
           
            <div class="form-group">
                <label class="col-md-3 control-label">Credit To Be Taken</label>
                <div class="col-md-9">
                    <input id="CredittobeTaken" type="text" name="CredittobeTaken" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button id="saveButton" type="submit" value="Save" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
            <div class="show_msg"><label>@ViewBag.Message</label></div>

        </fieldset>
    </form>
</div>





@section scripts
{
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function() {
            $("#CourseSaveForm").validate({
                rules: {
                    Name: "required",
                    CredittobeTaken:
                    {
                        required: true,
                        number: true,
                        min: 1
                    },
                    Email:
                    {
                        required: true,
                        email: true
                    },
                    departmentCode: "required",
                    designationId: "required",
                    
                },
                messages: {
                    Name:
                    {
                        required: "Please add your teacher name"
                    },
                    CredittobeTaken:
                    {
                        required: "Please add  credit",
                        number: "This field must be a number",
                        min: "Number must be positive",
                    },
                    Email:
                    {
                        required: "Please add email"
                    },
                    departmentCode:
                    {
                        required: "Please select department"
                    },
                    designationId:
                    {
                        required: "Please select department"
                    },

                }
            });

            $("#Name").bind('keyup input', function () {
                if (this.value.match(/[^a-zA-Z áéíóúÁÉÍÓÚüÜ]/g)) {
                    this.value = this.value.replace(/[^a-zA-Z áéíóúÁÉÍÓÚüÜ]/g, '');
                }
            });

            $("#ContactNo").bind('keyup input', function () {
                if (this.value.match(/[^0-9+]/g)) {
                    this.value = this.value.replace(/[^0-9+]/g, '');
                }
            });

           


        });
    </script>
}




