﻿@{
    ViewBag.Title = "Save";
}

<style>
    label.error {
        color: red;
        font-weight: bold;
    }
</style>
<br/>
<br />
<div class="wrapper" style="background-color: white;width: 700px;border: 2px solid;margin-left: 200px">
    <form id="viewResult" method="POST">
        <fieldset class="main_form">
            <legend style="text-align: center; background-color: slateblue">View Result</legend>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Student Reg.No</label>
                <div class="col-md-9">
                    <select class="form-control" id="StudentRegNo" name="StudentRegNo">
                        @{
                            <option value=""> Select Student Reg. No....</option>
                            foreach (var aStudent in @ViewBag.StudentList)
                            {
                                <option value=@aStudent.Id> @aStudent.StudentRegNo</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="<View>" />
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    <input type="text" id="Email" name="Email" class="form-control" placeholder="<View>" />
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Department</label>
                <div class="col-md-9">
                    <input type="text" id="Department" name="Department" class="form-control" placeholder="<View>" />

                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-9 control-label"></label>
                <div class="col-md-3">
                    <input type="submit" id="Save" name="Save" value="Make PDF" />
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                               
                                <th>Course Code</th>
                                <th>Name</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            @* Populate from ajax  *@
                        </tbody>
                    </table>
                </div>
            </div>

            <br />
            <br />


            <label class="show_msg">@ViewBag.Message</label>
        </fieldset>
    </form>
</div>



@section scripts
{
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function() {
            $("#StudentRegNo").change(function() {
                var studentRegNo = $("#StudentRegNo").val();
                var json = { studentId: studentRegNo };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetDetailsByStudentId", "ViewResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(studentAndResult) {
                        $('#Name').empty();
                        $('#Email').empty();
                        $('#Department').empty();

                        $.each(studentAndResult.studentDetails, function(key, value) {
                            $("#Name").val(value.Name);
                            $("#Email").val(value.Email);
                            $("#Department").val(value.DepartmentName);
                        });
                        $("#Name").focus(function() { $(this).blur(); });
                        $("#Email").focus(function() { $(this).blur(); });
                        $("#Department").focus(function() { $(this).blur(); });

                        $('#table').empty();
                        var i = 0;
                        $.each(studentAndResult.result, function(key, value) {
     
                            $("#table").append('<tr><td>' + value.Code + '</td><td>' + value.Name + '</td><td>' + value.Description + '</td>  </tr>');
                        });
                    },














                });
            });

            @*$("#Save").on("Click",function() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Index", "ViewResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $('#table').empty();
                        $.each(data, function (key, value) {
                            i = i + 1;
                            $("#table").append('<tr><td>' + i + '</td><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.ScheduleInfo + '</td>  </tr>');
                        });
                    },
                });
            });*@

            $("#Save").click(function () {
                var studentId = $("#StudentRegNo").val();
                document.location = '@Url.Action("GenteratePdf", "ViewResult")' + '?' + 'studentId=' + studentId;
                return false;
            });






            $("#viewResult").validate({
                rules: {
                    StudentRegNo: { required: true, },
                },
                messages: {
                    StudentRegNo: { required: "Please select student registration no", },
                }
            });
        });


    </script>

}
