﻿@{
    ViewBag.Title = "Home Page";
}
<br/>
<div >
    <h2 style="text-align: center;font-size: 30px;color: black"><b> Mawlana Bhasani Science And Technology University </b></h2>
     

    <img src="~/images/bg.png" width="90%" height="700px" />


</div>

